<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.destreza.android_component">

    <!-- Permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission for external memory  access -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permission for location access -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Permission for change location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Room.RoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Life_Cycle"></activity>
        <activity android:name=".DataBinding.CustomBinding" />
        <activity android:name=".layoutToPdf.LayoutToPdfOrImage" />
        <activity android:name=".locations.LocationActivity" />
        <activity android:name=".LoadingDialog.MainLoading" />
        <activity android:name=".Retrofits.RetrofitActivity" />
        <activity android:name=".SQLiteDatabase.DB_Activity" />
        <activity android:name=".Threads.BasicThread">

        </activity>
        <activity android:name=".Sensor.SensorActivity">

        </activity>
    </application>

</manifest>